alias config='/usr/bin/git --git-dir=$HOME/.files/.git --work-tree=$HOME/.files'

alias ll="ls -la"

# bcloud Aliases
# List preprovisioned clusters
alias blp='./bcloud clusters list --all | grep RUNNING | awk '\''$NF == "-"'\'''
# List building clusters
alias blb="./bcloud clusters list --all | grep BUILDING"

# Bundler Aliases
alias bx="bundle exec"
alias bxr="bundle exec rake"
alias bxc="bundle exec rails c"

# Docker Aliases
alias dc="docker-compose"
alias dm="docker-machine"
# Stop all containers
alias dsa="docker stop \$(docker ps -a -q)"
# List all exited containers
alias dle="docker ps -aq -f status=exited"
# Remove stopped containers
alias drs="docker ps -aq --no-trunc -f status=exited | xargs docker rm"
# Remove dangling containers
alias drd="docker images -q --filter dangling=true | xargs docker rmi"


# Git Aliases
alias gl='git log --graph --pretty=format:'\''%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'\'' --abbrev-commit'
alias gcmsg="git commit -m"
alias glb="script -q /dev/null git for-each-ref --sort=-committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))' < /dev/null | head"

# Misc Aliases
alias allergies="lynx -dump http://scripts.kxan.com/wp_embeds/weather/allergy/allergy_output_v2.html"
alias weather="curl http://wttr.in/aus && curl http://wttr.in/cedar_park"

# TSH
alias tsh-login-int="tsh-login \"integration\""
alias tsh-login-stg="tsh-login \"staging\""

function tsh-login() {
  tsh login --proxy=teleport.${1}.zone --auth=OktaSAML
}

function tsh-connect() {
  local node=$(tsh ls | awk 'NR==3{print $1; exit}')
  tsh ssh -t container-jump@${=node}
}  
